<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Screening</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
    <div class="logo">AI Resume Matcher</div>
</nav>

<div class="container">

    <div class="card">
        <h2>Upload Resumes</h2>

        <form action="/screen" method="POST" enctype="multipart/form-data">

            <input type="file" name="resumes" multiple required>

            <textarea name="job_desc"
                placeholder="Paste Job Description Here..."
                required></textarea>

            <button type="submit">Screen Candidates</button>

        </form>
    </div>

</div>

</body>
</html>